.c-modal {
  text-align: center;
  display: none;
}

.c-modal--active {
  display: block;
}

.c-modal--active a {
  text-align: center;
  background-color: blue;
  color:white;
  text-decoration: none;
  padding: 1em;
}