body {
	font-family: arial;
	max-width: 600px;
	margin: 0 auto;
}
.c-modal {
  text-align: center;
  display: none;
}

.c-modal--active {
  display: block;
}

.c-modal__button {
  text-align: center;
  background-color: blue;
  color:white;
  text-decoration: none;
  padding: 1em;
  display: block;
  width: 300px;
  margin: 0 auto;
  box-shadow: #555555 1px 1px 1px;
  border-radius: 15px;
  font-weight: 500;
  max-width: 90%;
}